spring:
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  # Database Configuration
  datasource:
    url: jdbc:h2:mem:orderdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

logging:
  level:
    root: INFO
    org.springframework: INFO
    org.apache.kafka.clients.NetworkClient: ERROR
    org.hibernate: INFO
    org.apache.kafka: INFO
    org.codeexpert: DEBUG  # Your application's base package